@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    
    font-family: "Comic Neue";
    background-color: rgb(255, 202, 124);

}


h1, h3 {

    color: rgb(255, 153, 0);
    font-size: 96px;
    width: 100%;
    text-align: center;
    margin: 12px auto;

}

h3 {

    color: rgb(128, 207, 238);
    font-size: 64px;

}

a {

    text-decoration: none;
    color: black;

}

#home, #easy-page {

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%

}

#home-difficulty {

    display: flex;
    flex-direction: column;
    align-items: center;

}

#difficulty-buttons {

    display: flex;
    justify-content: space-around;
    width: 640px;

}

#easy-button, #normal-button, #hard-button {

    padding: 6px;
    padding-left: 12px;
    padding-right: 12px;
    border-width: 2px;
    border-style: solid;
    border-radius: 4px;
    background-color: rgb(255, 219, 165);
    transition: background-color 200ms ease-out, color 200ms ease-out;

}

#easy-button:hover, #normal-button:hover, #hard-button:hover {

    background-color: rgb(255, 153, 0);
    color: rgb(61, 37, 0);
    transition-duration: 350ms;
    font-weight: bold;
}

#easy-button:hover {

    background-color: rgb(74, 196, 92);
    border-color: rgb(13, 54, 20);
    color: rgb(13, 54, 20);

}

#hard-button:hover {

    background-color: rgb(224, 86, 86);
    border-color: rgb(65, 6, 6);
    color: rgb(65, 6, 6);

}

#welcome-message {

    margin: 50px 20px 0 20px;
    font-size: 20px;
    text-align: center;

}

#easy-grid, #normal-grid, #hard-grid {

    margin-top: 20px;
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    width: 1200px;
    height: 720px;
    z-index: 1;

}

#hidden-pic {

    position: absolute;
    z-index: -1;
    width: 1200px;
    max-height: 720px;

}

.easy-row {

    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;

}

.easy-square {

    width: 78px;
    height: 78px;
    border: 1px solid black;
    cursor: pointer;
    background-color: rgb(255, 202, 124);
    opacity: 1;

}

.easy-square:hover {

    background-color: coral;

}


@media screen and (max-width: 600px) {

    * {
    
        width: auto;
    
    }

    h1 {
        
        font-size: 48px;
    
    }

    #home-difficulty {
    
        width: 100%;
    
    }

    #difficulty-buttons {

        width: 270px;
    
    }

    #welcome-message {

        margin: 40px 15px 0 15px;
        font-size: 18px;
        text-align: left;
    
    }

    #easy-grid, #normal-grid, #hard-grid {

        width: calc(1200px / 3.3);
        height: calc(720px / 3.3)
        
    }

    .easy-square {

        width: calc(((1200px / 3.3) - 18) / 15);
        height: calc(((720px / 3.3) - 18) / 9);
        height: calc((77px/3.3) - 1px);

    }

}
