@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    
    font-family: "Comic Neue";
    background-color: teal;

}


h1, h3 {

    color: cyan;
    font-size: 96px;
    width: 100%;
    text-align: center;
    margin: 12px auto;

}

h3 {

    color: rgb(128, 207, 238);
    font-size: 64px;

}

#home {

    display: flex;
    flex-direction: column;
    align-items: center;

}

#home-difficulty {

    display: flex;
    flex-direction: column;
    align-items: center;

}

#difficulty-buttons {

    display: flex;
    justify-content: space-around;
    width: 640px;

}


@media screen and (max-width: 600px) {

    * {
    
        background-color:rgb(170, 103, 184);
        width: auto;
    
    }

    h1 {
    
        font-size: 64px;
    
    }

    #home-difficulty {
    
        width: 100%;
    
    }

    #difficulty-buttons {

        width: 270px;
    
    }

}
