* {
    
    background-color: teal;

}


h1, h3 {

    color: cyan;
    font-size: 96px;
    width: 100%;
    text-align: center;
    font-family: cursive;
    margin: 12px auto;

}

h3 {

    color: rgb(128, 207, 238);
    font-size: 64px;

}